*.swp
.dir-locals.el
.stack-work/
*~
log/*
dist/*
sample-data/*
datadump
.cabal-sandbox/*
cabal.sandbox.config
datadump.json
simplerdump.json
*.html
*.zip
*.eventLog
simple.conf
fakepayments.json
paymentsquery-07-28.json
pretty.payments-query-07-28.json
truncatedprettypayments.json
depsample.json
depsample1000.json
depsample10000.json
prettystuff.json
stuff.json
/.dir-locals.el
/TAGS
/tags/
CabalInspector.hs
.stylish-haskell.yaml
DASBIGPrettytestrun.json
experiments
codex.tags
hscope.out
*.hp
*.aux
*.prof
*.ps
*.pdf

# Carter's Files
hist-summary.json
lalal.summary
lalalalal
lamsource.source
megaMonster.json
minilisting.json
moarsummary.json
newconf.yaml
other-new-summary.json
other.foo
realistic.json
sumsumarry.json

# WebStorm IDE
.idea/

# OS X-specific file
.DS_Store
