:root {
  --background: #F2F2F0;
  --color: #aaa;
  --yellow: #FFD601;
  --border-red: #E06262;

  --dark-text: #747475;
  --light-text: #B1AF95;

  --follower: #71C37F; /* green */
  --leader: #61A8DC; /* blue */
  --candidate: #737172; /* gray */
}

body {
  background-color: var(--background);
  color: var(--color);
}

#myApp {
  border-top: 6px solid var(--border-red);
  border-bottom: 6px solid var(--border-red);
  color: var(--dark-text);
}

.cluster-header {
}

.chart div {
  color: white;
}

div.div-bar {
  background-color: color(steelblue alpha(-80%));
}

.health {
  & rect {
    fill: color(steelblue alpha(-80%));
  }
}

.mg-line1-legend-color {
  color: var(--yellow);
  fill: var(--yellow);
}

.mg-chart-title {
  color: var(--dark-text) !important;
}

div.border-underline {
  background-color: var(--dark-text);
}

span.transaction-datum {
  color: color(var(--dark-text) blackness(20%));
}

div.node-lost-centerer {
  color: var(--border-red);
}

span.node-role-Follower {
  color: var(--follower);
}

span.node-role-Leader {
  color: var(--leader);
}

span.node-role-Candidate {
  color: var(--candidate);
}

input[type=radio]:checked ~ .check {
  background-color: #DE6262;
}

#myApp path.mg-line1-color {
  stroke: #E45A5A;
}

#myApp path.mg-area1-color {
  fill: #E45A5A;
}

div.rv-xy-plot {
  color: steelblue;
}

g.rv-xy-plot__axis__ticks {
  stroke: rgba(0, 0, 0, 0.15);
}

g.rv-xy-plot__grid-lines {
  stroke: rgba(0, 0, 0, 0.05);
}
